@use "../../loginRes.scss" as *;

.registerPage {
  height: 100vh;
  width: 100%;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px 50px rgb(214, 223, 213);

  .container {
    height: 90vh;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    border-radius: 10px;
    background: #f1f1f1;
  }

  .videoDiv {
    position: relative;
    display: flex;
    flex-basis: 50%;
    width: 70%;
    height: 100%;
    padding: 0 1.5rem;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;

    video,
    .footerDiv {
      position: absolute;
    }
    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .textDiv {
      position: relative;

      .title {
        color: var(--whiteColor);
        font-size: 35px;
        font-weight: 800;
      }

      p {
        color: var(--whiteColor);
        padding: 1rem;
        font-weight: 400;
      }
    }

    .footerDiv {
      bottom: 10px;
      padding: 0 1rem;
      height: 60px;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.248);
      left: 10px;
      right: 10px;
      justify-content: space-between;
      backdrop-filter: blur(1px);
      border-radius: 10px;

      .text {
        color: var(--whiteColor);
      }

      .btn {
        background: var(--whiteColor);
        color: var(--primaryColor);
        padding: 0.8rem 1.54rem;
        border-radius: 10px;
        font-weight: 400;
        transition: 0.3s ease;

        &:hover {
          background: var(--hoverColor);
          color: var(--blackColor);
        }
      }
    }
  }

  .formDiv {
    flex-basis: 50%;
    margin: auto;
    flex-direction: column;
    gap: 0.5rem;
    transform: translateY(-0.5rem);

    .headerDiv {
      text-align: center;
      padding: 1rem;

      img {
        width: 130px;
        padding-bottom: 0;
        margin: 0 auto;
      }

      h3 {
        padding-top: 1rem;
        font-size: 25px;
        color: var(--blackColor);
        font-weight: 600;
      }
    }

    .form {
      gap: 1rem;

      .inputDiv {
        .icon {
          color: var(--greyText);
        }

        input {
          background: none;
          outline: none;
          border: none;
          width: 200px;
        }

        label {
          color: var(--blackColor);
          font-weight: 400;
          font-size: 14px;
          padding: 0.5rem 0;
          display: block;
        }
        .input {
          gap: 0.5rem;
          padding: 1rem;
          background: var(--inputColor);
          border-radius: 10px;
        }
        .select {
          width: 100%;

          select {
            width: 100%;
            padding: 0.8rem;
            border-radius: 10px;
            border: none;
            background: var(--inputColor);
          }
        }
      }
      .btn {
        padding: 0.8rem;
        background: var(--primaryColor);
        border-radius: 10px;
        color: var(--whiteColor);
        align-items: center;
        margin: auto;
        justify-content: center;
        font-size: 16px;
        width: 100%;
        gap: 0.5rem;
        transition: 0.3s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

        .icon {
          font-size: 25px;
          opacity: 0.7;
          transition: 0.3s ease;
        }

        &:hover {
          background: var(--hoverColor);
          color: var(--blackColor);

          .icon {
            color: var(--blackColor);
            transform: translateX(5px);
          }
        }
      }

      .forgotPassword {
        font-size: 13px;
        color: var(--blackColor);
        opacity: 0.7;
        text-align: center;

        a {
          text-decoration: underline;
          cursor: pointer;
          opacity: 1;
          color: var(--primaryColor);

          &:hover {
            text-shadow: 0 0 1px var(--primaryColor);
          }
        }
      }
    }
  }
}
@media screen and (max-width: 900px) {
  .registerPage {
    .container {
      width: 85%;
    }
  }
}

@media screen and (max-width: 600px) {
  .registerPage {
    .container {
      .videoDiv {
        .textDiv {
          .title {
            font-size: 30px !important;
          }

          p {
            padding: 1rem !important;
            font-size: 15px !important;
          }
        }
        .footerDiv {
          .text {
            font-size: 15px !important;
          }
          .btn {
            padding: 0.1rem 1rem !important;
          }
        }
      }

      .formDiv {
        .headerDiv {
          padding: 1.5rem 0 !important;

          h3 {
            font-size: 20px !important;
          }
        }

        .form {
          .inputDiv {
            input {
              width: 100% !important;
            }
            select {
              width: 100% !important;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .registerPage {
    .container {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem;

      .videoDiv {
        width: 100%;
        .textDiv {
          .title {
            font-size: 25px !important;
          }

          p {
            padding: 1rem;
            font-size: 15px !important;
          }
        }
        .footerDiv {
          height: 60px !important;
          .text {
            font-size: 15px !important;
          }
          .btn {
            padding: 0.4rem 1.5rem !important;
            font-size: 15px !important;
          }
        }
      }

      .formDiv {
        transform: translateY(-0.5rem) !important;

        .headerDiv {
          padding: 1rem 0 !important;
          margin-top: 20px !important;
          h3 {
            font-size: 20px !important;
          }
        }

        .form {
          width: 100% !important;
          gap: 0.5rem !important;

          .inputDiv {
            input {
              width: 100% !important;
            }
            .select {
              width: 100% !important;

              select {
                width: 100% !important;
                padding: 0.8rem !important;
                background: var(--inputColor); // jika perlu
              }
            }
          }
        }
        .btn {
          margin-top: 20px;
        }
        .forgotPassword {
          margin-top: 10px;
        }
      }
    }
  }
}

@media screen and (max-width: 382px) {
  .registerPage {
    .container {
      height: 100%;
      width: 100%;
      flex-direction: column;
      padding: 1.5rem;

      .videoDiv {
        width: 100%;
        .textDiv {
          .title {
            font-size: 18px;
          }

          p {
            font-size: 12px;
            padding: 1rem;
          }
        }
        .footerDiv {
          height: 40px;
          .text {
            font-size: 12px;
          }
          .btn {
            display: flex;
            align-items: center;
            font-size: 10px;
            padding: 0.4rem 1.5rem;
          }
        }
      }

      .formDiv {
        gap: 1rem;
        transform: translateY(-0.5rem);

        .headerDiv {
          padding: 1rem 0;
          margin-top: 20px;
          img {
            width: 80px;
          }

          h3 {
            font-size: 20px;
          }
        }

        .form {
          gap: 0.5rem;

          .inputDiv {
            input {
              width: 100%;
            }
            select {
              width: 100%;
            }
          }
          .btn {
            margin-top: 20px;
          }
          .forgotPassword {
            margin-top: 10px;
          }
        }
      }
    }
  }
}
